.container {
  width: 100%;
  max-width: 640px;
}

.ingredients {
  width: 100%;
  height: 100vh;
  max-height: 312px;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0 24px 0 0;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
  position: relative;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.summary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
