.container {
  position: relative;
  width: 64px;
  height: 60px;
  background:linear-gradient(45deg,#801AB2,#4C4CFF); 
  display: flex;
  justify-content: center;
  padding: 2px 0;
  border-radius: 100px;
  z-index: 1;
}

.back {
  content: '';
  position: absolute;
  top: 2;
  left: 2;
  width: 60px;
  height: 60px;
  background-color: #131316;
  border-radius: 100px; 
  z-index: 2;
}

.image {
  width: 112px;
  height: 56px;
  z-index: 3;
  margin-top: 2px;
}

.more {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  background: #1C1C21;
  opacity: 0.6;
  z-index: -1;
}
