.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 720px;
  background-color: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.modalHeader {
  width: 100%;
  min-height: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 47px;
  right: 37px;
  width: 24px;
  height: 24px;
  background-image: url(../../images/close-icon.svg);
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: scale .3s ease-in-out;
}

.closeButton:hover {
  transform: scale(1.05);
}
