.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px);
  max-width: 700px;
  margin: 0 auto;
}

.link {
  color: #4C4CFF;
}
